* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.abel-regular {
  font-family: "Abel", serif;
  font-weight: 400;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.accordion {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: "Abel", sans-serif;
  font-size: 16px;
  background-color: white;
}

.active,
.accordion:hover {
  background-color: #eeeeee;
}

.panel {
  padding: 0 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Inter", sans-serif;
}

.panel:last-of-type {
  margin-bottom: 100px;
}

.panel h4 {
  padding-top: 10px;
  font-size: 14px;
}

.brand_description {
  margin: 20px 0px;
  color: #636363;
}

.brand_image {
  width: 80px;
  margin: 10px auto;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.flex_header {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 20px 40px;
  background-color: #f7f7f7;
}

.flex_header li a {
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
}

.flex_header p {
  margin-top: 10px;
  font-family: "Abel", sans-serif;
  font-size: 24px;
  color: black;
  padding: 0px 20px;
}

.last_nav p {
  border-right: transparent;
}

.logo {
  margin-right: auto;
  display: flex;
}

.logo h1 {
  padding-top: 5px;
  padding-left: 20px;
  font-family: "Abel", sans-serif;
  font-size: 32px;
  color: #006f62;
}

.logo img {
  width: 50px;
}

.flex_header p:hover {
  color: #4bfbe6;
}

h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #006f62;
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 20px 80px;
}

.category_list_container a {
  text-decoration: none;
  color: black;
}

.category_list_container h3 {
  background-color: #d9d9d9;
  text-align: center;
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  padding: 15px;
}

.category_list_container h3:hover {
  background-color: #b0fff6;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  background-color: #383838;
  margin-top: auto;
}

footer p {
  color: #b0fff6;
  font-family: "Abel", sans-serif;
  padding: 10px;
}

.product_list_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.product_list_item {
  width: 250px;
}

.out_of_stock img {
  filter: opacity(0.3);
}

.product_prices {
  display: flex;
  flex-direction: row;
  font-family: "Abel", sans-serif;
}

.discounted .standard_price {
  text-decoration: line-through;
}

.out_of_stock .product_prices {
  display: none;
}

.discounted .sale_price {
  color: #006f62;
  display: block;
}

.sale_price {
  padding-right: 10px;
  display: none;
}

.out_of_stock_price {
  background-color: #d9d9d9;
  text-align: center;
  padding: 5px;
}

.product_list_item p {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  margin-top: 3px;
}

.brand_and_type {
  color: #8e8e8e;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.grid_1-1 h2 {
  font-family: "Abel", sans-serif;
  color: black;
  font-size: 32px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.grid_1-1 .product_prices {
  margin-bottom: 20px;
}

.grid_1-1 p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.product_description {
  color: #636363;
}

.designation {
  font-family: "Abel", sans-serif;
  margin-top: 100px;
  text-transform: uppercase;
}

.basket_btn p {
  background-color: #006f62;
  color: #b0fff6;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  width: 200px;
  margin: 30px auto;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}

.basket_btn {
  text-decoration: none;
}

.basket_btn p:hover {
  background-color: #b0fff6;
  color: black;
}

.panel ul {
  list-style: circle;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel ul li {
  font-size: 14px;
}

.model_statistics {
  color: #636363;
  margin-top: 10px;
}
